/control
/*.debhelper
/*.debhelper.log
/*.substvars
/files
/qemu-common/
/qemu-guest-agent/
/qemu-keymaps/
/qemu-kvm/
/qemu-system/
/qemu-system-arm/
/qemu-system-common/
/qemu-system-mips/
/qemu-system-misc/
/qemu-system-ppc/
/qemu-system-sparc/
/qemu-system-x86/
/qemu-user-static/
/qemu-user/
/qemu-utils/
/qemu/
!patches
